.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.contentLayout {
  position: relative;
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

.verticalSeparator {
  display: none;
}

.filterBar {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.errorNotice {
  text-align: center;
  padding: 48px 16px;
  background-color: #fee2e2;
  border-radius: 8px;
  color: #b91c1c;
  margin: 32px 0;
}

.errorNotice h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.errorNotice p {
  color: #ef4444;
}

.pageHeader {
  margin: auto;
  width: 100%;
  max-width: 720px;
  text-align: center;
  padding: 0 16px;
  margin-bottom: 67.2px;
}

.pageTitle {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 12px;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.pageSubtitle {
  font-weight: 400;
  color: #666;
  margin: 0px 0px 10px 0px;
  font-size: 19.2px;
  line-height: 1.5;
}

.navTrail {
  display: none;
}

@media (max-width: 1024px) {
  .pageWrapper {
    padding: 32px;
  }

  .pageTitle {
    font-size: 40px;
  }

  .pageSubtitle {
    font-size: 20px;
  }

  .pageHeader {
    margin-bottom: 48px;
  }
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: 32px;
  }

  .pageSubtitle {
    font-size: 18px;
  }

  .filterBar {
    justify-content: center;
    margin-bottom: 0;
  }

  .verticalSeparator {
    display: inline-block;
    height: 50px;
    margin: 0 16px;
    border: 0.5px solid #e5e5e5;
  }
}

@media (max-width: 640px) {
  .pageTitle {
    font-size: 20px;
    font-weight: 700;
  }

  .pageSubtitle {
    font-size: 14px;
    font-weight: lighter;
  }

  .pageHeader {
    margin-bottom: 32px;
  }

  .navTrail {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    font-size: 14px;
  }

  .navTrail p {
    color: #666;
    font-size: 12px;
    font-weight: 400;
  }

  .navTrail .currentPage {
    color: #000000;
    font-weight: 600;
  }

  .navTrail .navDivider {
    display: inline-block;
    height: 16px;
    border: 0.5px solid #e5e5e5;
  }
}
